.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.sectionHeading {
  font-size: 200%;
  line-height: 100%;
  padding: 0 0 30px;
  text-align: center;
  font-weight: bold;
}
