/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}


.buttons > a {
  margin: 5px;
}


@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }

  .buttons {
    justify-content: center;
  }
  .button {
    position: relative;
    left: 35%;
    margin-bottom: 0%;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 30px 0 0;
}