.container {
  padding: 2rem 2rem;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.board {
  padding: 2rem 2rem;
  margin-right: 1rem;
  flex: 1;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
  border-radius: 0.5rem;
}

.leaderboardStairs {
  padding: 2rem 2rem;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.leaderboardStairs h3 {
  font-size: 18px;
  color: #333;
}
.leaderboardBar {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  padding: 0.5rem;
}
.leaderboardPosition {
  flex: 1;
  text-align: right;
  display: flex;
  padding-right: 1rem;
  font-weight: bold;
}

.leaderboardName {
  flex: 3;
  height: 2rem;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  font-weight: bold;
  font-size: 1.18rem;
}

hr {
  width: 100%;
  margin: 2.8rem 0;
  border: 0;
  border-top: 1px solid #ddd;
}

.avatarUsername {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
}

.leftDetails {
  display: flex;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 1rem 4rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  flex-direction: column;
  align-items: left;
}
.userInfo {
  margin-top: 1rem;
  text-align: left;
}

.userInfo p {
  margin: 0.5rem 0;
  font-size: 1rem;
}

.avatar img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.boardDetail {
  padding: 2rem 2rem;
  margin-left: 1rem;
  flex: 1.5;
  height: 50rem;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 5px 15px 8px #e4e7fb;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0.5rem;
}

#header {
  text-align: center;
  margin-bottom: 20px;
}

#header h1 {
  font-size: 24px;
  color: #333;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.header-row {
  background-color: #333;
  color: #fff;
}

.number,
.name,
.points {
  padding: 10px;
  text-align: left;
}

tbody tr {
  cursor: pointer;
  transition: background-color 0.3s;
}

.selectedRow {
  background-color: #f0f0f0;
}

tbody tr:hover {
  background-color: #f0f0f0;
}

.pagination {
  text-align: center;
  margin-top: 20px;
}

.pagination button {
  padding: 10px 28px;
  margin: 0 5px;
  border: none;
  border-radius: 4px;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s;
}

.pagination button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: stretch;
    padding: 1rem;
  }

  .board {
    margin-right: 0;
    margin-bottom: 1rem;
    height: auto;
  }

  .boardDetail {
    margin-left: 0;
    margin-top: 1rem;
    height: auto;
  }

  .avatar img {
    width: 100px;
    height: 100px;
  }
}
