.sectionHeading {
  text-align: center;
  padding-bottom: 1rem;
}

.banner {
  display: grid;
  grid-template-columns: 0.4fr auto;
  place-items: center;
  place-content: center;

  @media (max-width: 768px) {
    grid-template-columns: auto;
  }
}

.p {
  width: 50vw;
}
